@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-logo{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

}

.navbar-logo img{
    width: 100px;
}
.navbar-toggler{
    border: 1px solid white !important;
}


/* media query */

@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
.navbar-nav{
    align-items: center;
}
}
